@@include('head.html')
<header class="header">
    <div class="user-profile">
        <a href="profile.html">
            <img src="./assets/img/avatar.png" alt="Користувач" class="avatar">
        </a>
    </div>

    <nav class="nav-slider">
        <a href="main.html" class="nav-btn active">Загальне</a>
        <a href="living-room.html" class="nav-btn">Вітальня</a>
        <a href="kitchen.html" class="nav-btn">Кухня</a>
        <a href="bedroom.html" class="nav-btn">Спальня</a>
    </nav>

</header>

