<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#188de7">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <meta name="format-detection" content="telephone=no">
	<title>SmartHome</title>
	<link rel="shortcut icon" href="assets/img/favicon.svg">
    <link rel="stylesheet" type="text/css" href="./assets/css/reset.min.css" />
    <link rel="stylesheet" type="text/css" href="./assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
